<?xml version="1.0"?>
<launch>
    
    <arg name="ns" default="blurr"/>
    <arg name="pkg" default="blurr"/>
    <arg name="model" default="urdf/blurr.xacro"/>
    
    <group ns="$(arg ns)">
        <param name="robot_description" command="$(find xacro)/xacro $(find bluerov_ffg)/$(arg model)"/>
    </group>
</launch>