<?xml version="1.0"?>
<launch>

    
<include file="$(find freefloating_gazebo)/launch/rviz.launch">
        <arg name="ns" value="blurr"/>
        <arg name="config" value="$(find blurr_base)/launch/blurr.rviz"/>
        <arg name="state_publisher" value="true"/>
    </include>
    
<group ns="blurr">    

    <group ns="static_tf">
    <node pkg="tf" type="static_transform_publisher" name="pressure_br" args="0.165 0.11 -0.1 0 0 0 1 base_link pressure_link 1000" />
    <node pkg="tf" type="static_transform_publisher" name="leak_br" args="0.165 0 -0.1 0 0 0 1 base_link leak_link 1000" />
    <node pkg="tf" type="static_transform_publisher" name="temperature_br" args="0.165 -0.11 -0.1 0 0 0 1 base_link temperature_link 1000" />
    </group>    
</group>
</launch>
