<?xml version="1.0"?>
<launch>

<group ns="blurr">    

    <param name="robot_description" command="$(find xacro)/xacro $(find blurr)/urdf/blurr.xacro"/>
    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find blurr_base)/launch/blurr.rviz" />
    
    <group ns="static_tf">
    <node pkg="tf" type="static_transform_publisher" name="pressure_br" args="0.165 0.11 -0.1 0 0 0 1 base_link pressure_link 1000" />
    <node pkg="tf" type="static_transform_publisher" name="leak_br" args="0.165 0 -0.1 0 0 0 1 base_link leak_link 1000" />
    <node pkg="tf" type="static_transform_publisher" name="temperature_br" args="0.165 -0.11 -0.1 0 0 0 1 base_link temperature_link 1000" />
    </group>
    
    <node name="tf_bridge" pkg="freefloating_gazebo" type="rviz_bridge.py" output="screen" respawn="true">  
    </node>
    
</group>
</launch>